body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url('/assets/apple-store.jpg') no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background: url('./assets/apple-store.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.1;  /* ajuste l’opacité ici */
  z-index: -1;
  pointer-events: none; /* Pour ne pas gêner les interactions */
}
